body {

    color: #FFFFFF;
}

.foto-mobile {

    display: flex;
    margin-top: -5.5rem;
    margin-left: 1rem;
    width: 15rem;
    height: 16rem;
}


.p-apresentacao {
  width: 95%;
  font-size: 12px;
  opacity: .6;
  margin-bottom: 1rem;
}

.btn-sm {
    display: flex;
    margin-top: -1rem;
    opacity: .6;
}

.ler-mais{
    position: absolute;
    left:  -100000vw;
}